<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>


</style>


</head>

<body>

<h1>Passwort Generator</h1>
<p>
  Nur ein sicheres Passwort ist ein gutes Passwort^^
</p>

<form>
  <label for="uppercase"><input id="uppercase" type="checkbox" name="checkbox" checked>Großbuchstaben (A-Z)<br /></label>
  <label for="lowercase"><input id="lowercase" type="checkbox" name="checkbox" checked>Kleinbuchstaben (a-z)<br /></label>
  <label for="numbers"><input id="numbers" type="checkbox" name="checkbox" checked>Zahlen (1-9)<br /></label>
  <label for="specialCharacter"><input id="specialCharacter" type="checkbox" name="checkbox">Sonderzeichen (@<({[/=...)<br /><br /></label>

  Länge (z.B. 8)
  <select id="length">
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8" selected>8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
  </select>
  <br /><br />
  <button type="button" id="btn">Generate</button>
</form>


<p class="bold">Your Keys: <span id="containerKey"></span></p>
<p id="passwords">

</p>



<script type="text/javascript">

var uppercaseArray = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
var lowercaseArray = ['a','b','c','d','e','f','g','h','i','j','k','l','k','n','o','p','q','r','s','t','u','v','w','x','y','z'];
var numbersArray = ['0','1','2','3','4','5','6','7','8','9'];
var specialCharacterArray = ['!','§','$','%','&','/','(',')','=','?','*','#','+','~','{','}','ß','-'];
var uppercaseKeyStr = "";
var lowercaseKeyStr = "";
var numbersKeyStr = "";
var specialCharacterKeyStr = "";
var key = "";
var keyArray = [];

var uppercaseArrayResult = [];
var lowercaseArrayResult = [];
var numbersArrayResult = [];
var specialCharacterArrayResult = [];

var obj = {
  uppercase: [],
  lowercase: [],
  numbers: [],
  specialCharacter: []
};

var objArr = {
  uppercaseKeyArrayObj : ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'],
  lowercaseKeyArrayObj : ['a','b','c','d','e','f','g','h','i','j','k','l','k','n','o','p','q','r','s','t','u','v','w','x','y','z'],
  numbersKeyArrayObj : ['0','1','2','3','4','5','6','7','8','9'],
  specialCharacterArrayObj : ['!','§','$','%','&','/','(',')','=','?','*','#','+','~','{','}','ß','-']
};

function getCharacterFrom(objSet, objArray) {
  var checkbox = document.getElementById(objSet);
  if (checkbox.checked) {
      obj[objSet] = objArr[objArray];
  }else {
      obj[objSet] = [];
  }
}
// when checked then push this entities in a array
function uppercaseKey() {
  var checkbox = document.getElementById('uppercase');
  if(checkbox.checked){
    uppercaseKeyStr = "";
    for (var i = 0; i < 1; i++ ) {
      uppercaseKeyStr = uppercaseArray[Math.floor(Math.random() * uppercaseArray.length)];
    }
    uppercaseArrayResult = uppercaseArray;
  }else{
    uppercaseKeyStr = "";
    uppercaseArrayResult = [];
  }
}

function lowercaseKey() {
  var checkbox = document.getElementById('lowercase');
  if(checkbox.checked){
    lowercaseKeyStr = "";
    for (var i = 0; i < 1; i++ ) {
      lowercaseKeyStr = lowercaseArray[Math.floor(Math.random() * lowercaseArray.length)];
    }
    lowercaseArrayResult = lowercaseArray;
  }else{
    lowercaseKeyStr = "";
    lowercaseArrayResult = [];
  }
}

function numbersKey() {
  var checkbox = document.getElementById('numbers');
  if(checkbox.checked){
    numbersKeyStr = "";
    for (var i = 0; i < 1; i++ ) {
      numbersKeyStr = numbersArray[Math.floor(Math.random() * numbersArray.length)];
    }
    numbersArrayResult = numbersArray;
  }else{
    numbersKeyStr = "";
    numbersArrayResult = [];
  }
}

function specialCharacterKey() {
  var checkbox = document.getElementById('specialCharacter');
  if(checkbox.checked){
    specialCharacterKeyStr = "";
    for (var i = 0; i < 1; i++ ) {
      specialCharacterKeyStr = specialCharacterArray[Math.floor(Math.random() * specialCharacterArray.length)];
    }
    specialCharacterArrayResult = specialCharacterArray;
  }else{
    specialCharacterKeyStr = "";
    specialCharacterArrayResult = [];
  }
}
// gives the length of the password
function secretKey(objArray) {
  //document.getElementById('passwords').innerHTML =
  key = lowercaseKeyStr + uppercaseKeyStr + numbersKeyStr + specialCharacterKeyStr;
  var startLength = key.length;
  var lengthKey = document.getElementById('length').value;
  for (var i = 0; i < (lengthKey - startLength); i++ ) {
    key += keyArray[Math.floor(Math.random() * keyArray.length)];
  }
  key = key.shuffle();
}

String.prototype.shuffle = function () {
    var stringArray = this.split("");

    for(var arrayIndex = stringArray.length - 1; arrayIndex > 0; arrayIndex--) {
        var randomArrayIndex = Math.floor(Math.random() * (arrayIndex + 1));
        var tmp = stringArray[arrayIndex];
        stringArray[arrayIndex] = stringArray[randomArrayIndex];
        stringArray[randomArrayIndex] = tmp;
    }
    return stringArray.join("");
}

//combine all arrays in one array per on click
var endKey = document.getElementById('btn').onclick = function endKey(){
  uppercaseKey();
  lowercaseKey();
  numbersKey();
  specialCharacterKey();

  getCharacterFrom('uppercase', 'uppercaseKeyArrayObj');
  getCharacterFrom('lowercase', 'lowercaseKeyArrayObj');
  getCharacterFrom('numbers', 'numbersKeyArrayObj');
  getCharacterFrom('specialCharacter', 'specialCharacterArrayObj');

  keyArray = uppercaseArrayResult.concat(lowercaseArrayResult, numbersArrayResult, specialCharacterArrayResult);
  secretKey();
  document.getElementById('containerKey').innerHTML = key;
}

</script>
</body>
</html>
